#postData{
    padding-right: 5px;
    padding-left: 5px;
}
.form-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
}
.form{
    width:150px;

}
.text-area{
    height: 100px;
}
.form-button{
    border:0px;
    border-radius: 5px;
    background-color: rgba(11, 12, 11, 0.98);
    width:80px;
    height:35px;
    color:white;
}
